.medscan2Icon {
  position: relative;
  width: 119px;
  height: 118px;
  object-fit: cover;
}
.medscan {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 237px;
  height: 45px;
  flex-shrink: 0;
  margin-left: -15px;
}
.logo {
  width: 341px;
  height: 118px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.homepage {
  position: relative;
  cursor: pointer;
}
.searchpage {
  position: relative;
  cursor: pointer;
}
.community {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.aboutus {
  position: relative;
  color: inherit;
  cursor: pointer;
}
.pages {
  width: 726px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}
.vectorIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon1 {
  position: absolute;
  height: 38.94%;
  width: 61.1%;
  top: 30.53%;
  right: 19.54%;
  bottom: 30.53%;
  left: 19.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.translateButton {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 56.3px;
  height: 51.1px;
}
.frame {
  width: 811px;
  height: 52px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  font-size: var(--font-size-17xl);
  color: var(--color-dimgray);
  font-family: var(--font-merriweather);
}
.navBar {
  width: 1840px;
  height: 118px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 688px;
}
.navigationBar {
  width: 1920px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 40px;
  box-sizing: border-box;
  text-align: center;
  font-size: 42px;
  color: var(--color-black);
  font-family: var(--font-oxygen);
}
